{{ header }}
{{ import_statements }}
{% if body %}{{ body }}{% else %}urlpatterns = [{% endif %}
    path('{{ api_view_path }}/', views.{{ api_view_class }}.as_view(), name='{{ api_view_name }}'),
{% if not body %}]{% endif %}
{{ footer }}