from rest_framework import generics

from {{ app }}.models import {{ model }}
from .serializers import {{ serializer_class }}

###############
# APIs
###############

class {{ api_view_class }}(generics.{{ api_view_class_type }}):
{% if api_view_description %}    """{{ api_view_description }}"""

{% endif %}    queryset = {{ model }}.objects.all()
    serializer_class = {{ serializer_class }}
