{{ admin_header }}
{{ model_class_import_statement }}
{{ pre_admin }}
{% if not pre_admin %}
###############
# ACTIONS
###############


###############
# INLINES
###############


###############
# MODEL ADMINS
###############{% endif %}
{% if create_model_admin %}
class {{ model_admin }}(admin.ModelAdmin):
    pass
{% endif %}{% if not pre_registration %}
###############
# REGISTRATION
###############{% endif %}
{{ pre_registration }}
admin.site.register({{ model }}, {{ model_admin }})
{{ admin_footer }}
