{{ header }}
{{ import_statements }}
{{ body }}
{% if not body %}
###############
# MODEL ADMINS
###############
{% endif %}
{% if create_model_admin %}class {{ model_admin }}(admin.ModelAdmin):
    pass
{% endif %}
{% if not registration %}
###############
# REGISTRATION
###############

{% endif %}{{ registration }}{% if register_model_admin %}admin.site.register({{ model }}, {{ model_admin }}){% endif %}
{{ footer }}
