{{ header }}
{{ import_statements }}
{{ body }}
{% if not body %}
###############
# MODEL ADMINS
###############
{% endif %}
{%- if not model_admin_exists -%}class {{ model_admin }}(admin.ModelAdmin):
    pass
{%- endif -%}
{%- if not registration_block -%}
###############
# REGISTRATION
###############

{%- endif -%}
{{ registration_block }}
{% if not model_admin_exists %}admin.site.register({{ model }}, {{ model_admin }}){% endif %}
{{ footer }}
