{% extends "page.html.j2" %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<h2>{{ page_name }}, ListView Stub Page</h2>
		<a href="{% raw %}{% url{% endraw %} '{{ resource_name }}' {% raw %}%}{% endraw %}">link</a>
	</div>
</div>
{% endblock %}
