{% extends "stubtools/stubview/page.html.j2" %}

{% block head_title %}{% endraw %}{{ view_name }}{% raw %}{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<h2>{{ view_name }}, ListView Stub Page</h2>
		<a href="{% raw %}{% url{% endraw %} '{{ resource_name }}' {% raw %}%}{% endraw %}">link</a>
	</div>
</div>
{% endblock %}
