{{ header }}
{{ import_statements }}
{{ body }}
{% if not body %}
###############
# MODEL FORMS
###############
{% endif %}
{% if model_form %}class {{ model_form }}(ModelForm):

    class Meta:
        model = {{ model }}
        fields = [{% for field in model_fields %}'{{ field }}'{% if not loop.last %}, {% endif %}{% endfor %}]
{% endif %}
{{ footer }}
