{{ model_header }}{{ model_import_statement }}
{{ model_body }}{% if model_body %}
{% endif %}
{% if model_name %}class {{ model }}({{ model_class }}):{% endif %}
{% for field in attributes %}    {{ field.field_name }} = {{ field.field_type }}(_("{{ field.field_name|title }}"){% if field.field_kwargs %}, {% for key, value in field.field_kwargs.items() %}{{ key }}={{ value }} {% endfor %}{% endif %}){% endfor %}
{{ model_footer }}