{{ pre_import }}
{{ url_import }}{# Add the import line only if it's missing #}
from . import views
{{ pre_urls }}{# The space inbetween the import line and the URLs #}
urlpatterns = [
{% for resource in resources %}
    {{ resource.method }}({{ resource.pattern }}, {{ resource.view }}, {% for kwarg in resource.kwargs %}{{ resource.kwargs }}{{ ", " if not loop.last }}{% endfor %} ){{ ", " if not loop.last }}{{ endif }}
{% endfor %}
]
{{ post_urls }}
