{{ pre_import }}
{{ import_statement }}{% if pre_view %}
{{ pre_view }}
{% else %}


###############
# BASE VIEWS - Any base level views you will inherit in your views below
###############


###############
# MIXINS - Local Mixins that you create
###############


###############
# VIEWS - Views for your app
###############{% endif %}
{% if page_class %}
class {{ page_class }}({{ view_class }}):{% if description %}
	'''
	{{ description }}
	'''{% endif %}
    {% for key, value in attributes.items() %}{{ key }} = {{ value }}
    {% endfor %}
{% endif %}
{{ post_view }}