{{ pre_import }}{% if not admin_import %}from django.contrib import admin
{% endif %}
from .models import {% for model in models %}{{ model }}{{ ", " if not loop.last }}{% endfor %}
{{ pre_admin }}

class {{ model_admin }}(admin.ModelAdmin):
	pass

{{ pre_registration }}admin.site.register({{ model }}, {{ model_admin }})
{{ post_registration }}
